<div class="chat-container" >
  <!-- Chat Button -->
   @if (showWelcomeBubble) {
  <div class="welcome-bubble">
    👋 Hi there! I am AiNg, Need help?
  </div>
}
  <button class="chat-button" (click)="toggleChat()">
    <i class="fas fa-comment"></i>
  </button>

  <!-- Chat Window -->
   @if (isOpen) {
  <div class="chat-window">
    <div class="chat-header">
      <h3>{{title}}</h3>
      <select class="version-selector" [(ngModel)]="selectedVersion" (change)="onVersionChange($event)">
        @for (version of versionList; track version) {
        <option [value]="version.model">{{version.name}}</option>
        }
      </select>
      <button class="close-btn" (click)="toggleChat()">&times;</button>
    </div>
    
    <div #messagesContainer class="chat-messages">
      @for (msg of messages; track msg) {
      <div [class.user]="msg.sender === 'user'" [class.loading]="msg?.loading"
           [class.error]="msg.error" class="message">
        
        <div class="message-content">
          <!-- Loading indicator -->
           @if (msg.loading) {
          <div class="typing-indicator">
            <span></span>
            <span></span>
            <span></span>
          </div>
          }
          
          <!-- Error message -->
            @if (msg.error) {
          <div class="error-message">
            <i class="fas fa-exclamation-triangle"></i> {{msg.text}}
          </div>
          }
          
          <!-- Normal message -->
           @if (!msg.loading && !msg.error) {
          <div>
            {{msg.text}}
          </div>
          }
        </div>
        
        @if (!msg.loading && !msg.error) {
          <div class="message-time">
            {{msg.timestamp | date:'shortTime'}}
          </div>
        }
      </div>
    }
    </div>
    
    <div class="chat-input">
      <input type="text" [(ngModel)]="newMessage" [placeholder]="placeholder" [disabled]="isSending" (keyup.enter)="sendMessage()">
      <button (click)="sendMessage()" [disabled]="isSending || !newMessage.trim()">
        <i class="fas fa-paper-plane"></i>
        <!-- <i *ngIf="isSending" class="fas fa-spinner fa-spin"></i> -->
      </button>
    </div>
  </div>
  }
</div>