<nav class="navigation" [class.navbar]="config?.appConfiguration?.type === 'navbar'"
  [class.sidebar]="config?.appConfiguration?.type === 'sidebar'">

  <!-- Navbar Layout -->
  <div class="nav-container">
    <!-- Logo Section && config.navigation.isMobile *ngIf="config?.navigation?.type === 'sidebar' && config.navigation.isMobile || config?.navigation?.type === 'navbar'"-->
    <div class="logo" [ngClass]="{
        'sidebar-navbar-collapsed': config?.appConfiguration?.type === 'sidebar' && config?.appConfiguration?.collapsed && !isMobile,
        'sidebar-navbar-expanded': (config?.appConfiguration?.type === 'sidebar' && !config?.appConfiguration?.collapsed && !isMobile),
        'navbar-stretch': config?.appConfiguration?.type === 'sidebar' && isMobile || config?.appConfiguration?.type === 'navbar'
      }">
      @if (config?.appConfiguration?.type === 'sidebar') {
      <button class="menu-toggle" (click)="toggleMenu()">
        <span class="material-icons">{{ isMenuOpen ? 'close' : 'menu' }}</span>
      </button>
      }
      @if (config?.appConfiguration?.logoLocationHeader || isMobile) {
      <a routerLink="/app/home" class="logo-container">
        <span class="logo-initials animate-nav-fade-in">
          <span class="rn-r">R</span><span class="rn-n">N</span>
        </span>
        <span class="logo-name animate-nav-slide-in">
          <span class="logo-rohit">Rohit</span>
          <span class="logo-portfolio">Portfolio</span>
        </span>
      </a>
      }
    </div>

    <!-- Desktop Menu (right-aligned) -->
    <div class="desktop-menu animate-nav-fade-in">
      @if (!isMobile && config?.appConfiguration?.type === 'navbar') {
      <div class="menu-items">
        @for (item of menuItems; track item) {
        <ng-container>
          @if (item.subMenu?.length) {
          <div class="nav-dropdown">
            <a class="menu-link dropdown-trigger">
              {{ item.label }} <span class="material-icons">expand_more</span>
            </a>
            <div class="dropdown-content">
              @for (sub of item.subMenu; track sub) {
              <ng-container>
                @if (sub.routerLink) {
                <a [routerLink]="sub.routerLink" routerLinkActive="active-sub">{{ sub.label }}</a>
                }
                @if (sub.href) {
                <a [href]="sub.href" (click)="scrollToSection($event, sub.href)">{{ sub.label }}</a>
                }
              </ng-container>
              }
            </div>
          </div>
          }
          @else {
          <ng-container>
            @if (item.key !== 'notifications' && item.key !== 'resume' && item.routerLink && item.isHide) {
            <a [routerLink]="item.routerLink" class="menu-link" routerLinkActive="active">{{item.label }}</a>
            }

            @if (item.key && item.routerLink && item.isHide) {
            <a [routerLink]="item.routerLink" class="menu-link" routerLinkActive="active">
              @if (item.key === 'notifications') {
              <span class="material-icons menu-icon" pBadge severity="info"
                [value]="notifications()?.unreadCount ?? 0">{{item.icon}}</span>
              }
            </a>
            }
            @if (item.action) {
            <a class="menu-link" routerLinkActive="active" (click)="onMenuItemClick(item)" [title]="item.tooltip">
              <span class="material-icons menu-icon">{{item.icon}}</span>
            </a>
            }
            @if (item.href) {
            <a [href]="item.href" class="menu-link" (click)="scrollToSection($event, item.href)">{{item.label }}</a>
            }
          </ng-container>
          }
        </ng-container>
        }
      </div>
      }
      @if (!isMobile && config?.appConfiguration?.type === 'navbar') {
      <div class="nav-actions">
        @if (!isMobile && config?.appConfiguration?.type === 'navbar') {
        <button class="theme-toggle" (click)="themeService.toggleDarkMode()">
          <span class="material-icons" title="Theme">{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</span>
        </button>
        }
        @if (config?.appConfiguration?.type === 'navbar' && !isMobile && appService.role() !== 'ADMIN') {
        <button class="btn-logout" title="Exit" (click)="logout()">
          <span class="material-icons delete-icon">{{'exit_to_app'}}</span>
        </button>
        }
      </div>
      }

      @if (config.appConfiguration.showUserProfileView && !isMobile) {
      <div class="nav-actions">
        <app-profile-menu></app-profile-menu>
      </div>
      }
    </div>

    <!-- Mobile Menu Toggle (burger) -->
    @if (isMobile && config?.appConfiguration?.type === 'navbar') {
    <div class="mobile-menu-toggle">
      <button class="menu-toggle" (click)="toggleMenu()">
        <span class="material-icons">{{ isMenuOpen ? 'close' : 'menu' }}</span>
      </button>
      @if (config.appConfiguration.showUserProfileView) {
      <div class="nav-actions">
        <app-profile-menu></app-profile-menu>
      </div>
      }
    </div>
    }

    @if (config.appConfiguration.showUserProfileView && isMobile && config?.appConfiguration?.type === 'sidebar') {
    <div class="nav-actions">
      <app-profile-menu></app-profile-menu>
    </div>
  }
    <!-- Mobile Menu (right-aligned) -->
     @if (isMobile && isMenuOpen) {
    <div class="mobile-menu right-align">
      <div class="mobile-menu-inner">

        <div class="menu-list">
          @for (item of menuItems; track item) {
          <ng-container>
            <div class="mobile-nav-group" [class.is-expanded]="item.expanded">
              
              @if (item.key && !item.action && item.isHide) {
              <a class="menu-link" [routerLink]="item.routerLink"
                (click)="item.subMenu?.length ? (item.expanded = !item.expanded) : onMobileItemClick($event, item)">
                <div class="link-content">
                  @if (item.key === 'notifications') {
                    <span class="material-icons menu-icon" pBadge severity="info" [value]="notifications()?.unreadCount ?? 0">{{'notifications'}}</span>
                  } @else {
                    <span class="material-icons">{{ !item.icon? 'disabled_visible' : item.icon }}</span>
                  }
                  <span class="label">{{ item.label }}</span>
                </div>
                @if (item.subMenu?.length) {
                  <span class="material-icons chevron">
                    {{ item.expanded ? 'expand_less' : 'expand_more' }}
                  </span>
                }
              </a>
            }

              @if (item.key && !item.action && item.href) {
              <a class="menu-link" [href]="item.href"
                (click)="item.subMenu?.length ? (item.expanded = !item.expanded) : onMobileItemClick($event, item)">
                <div class="link-content">
                  <span class="material-icons">{{ !item.icon? 'disabled_visible' : item.icon }}</span>
                  <span class="label">{{ item.label }}</span>
                </div>
                @if (item.subMenu?.length) {
                  <span class="material-icons chevron">
                    {{ item.expanded ? 'expand_less' : 'expand_more' }}
                  </span>
                }
              </a>
            }

              @if (item.action) {
              <a class="menu-link" (click)="onMenuItemClick(item)">
                <div class="link-content">
                  <span class="material-icons">{{ item.icon }}</span>
                  <span class="label">{{ item.label }}</span>
                </div>
              </a>
            }
              @if (item.subMenu?.length && item.expanded) {
              <div class="mobile-submenu" >
                @for (sub of item.subMenu; track sub) {
                <ng-container>
                  @if (sub.routerLink) {
                  <a [routerLink]="sub.routerLink" (click)="isMenuOpen = false" class="sub-link">
                    <span class="material-icons">{{ sub.icon }}</span> {{ sub.label }}
                  </a>
                  }
                  @if (sub.href) {
                  <a [href]="sub.href" (click)="onMobileItemClick($event, sub)" class="sub-link">
                    <span class="material-icons">{{ sub.icon }}</span> {{ sub.label }}
                  </a>
                }
                </ng-container>
              }
              </div>
            }
            </div>
          </ng-container>
        }
        </div>

        <div class="mobile-actions">

          <button class="mobile-theme-toggle" (click)="themeService.toggleDarkMode()">
            <span class="material-icons">{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</span>
            {{ themeService.isDark() ? 'Switch to Light' : 'Switch to Dark' }}
          </button>

          @if (config?.appConfiguration?.type === 'navbar' && isMobile && appService.role() !== 'ADMIN') {
          <button class="mobile-theme-toggle btn-logout" title="Exit" (click)="logout()">
            <span class="material-icons delete-icon">{{'exit_to_app'}}</span>
            {{ 'Exit' }}
          </button>
        }
        </div>

      </div>
    </div>
  }
  </div>

</nav>