<p-menubar [model]="items">
  <ng-template pTemplate="start">
    Company Name
  </ng-template>
  <ng-template pTemplate="end">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="viewProfile()">
          <i class="fas fa-user"></i> Profile
        </a>
      </li>
    </ul>
  </ng-template>
</p-menubar>

<p-dialog header="Title" [(visible)]="showProfilePopup" [modal]="false"  position="top-right">
    <div class="menu-list">
      <div class="menu-item" (click)="navigateTo('profile')">
        <i class="pi pi-user"></i> User Profile
      </div>
      <div class="menu-item" (click)="navigateTo('account-settings')">
        <i class="pi pi-cog"></i> Account Settings
      </div>
      <div class="menu-item" (click)="navigateTo('preferences')">
        <i class="pi pi-globe"></i> Preferences
      </div>
      <div class="menu-item" (click)="navigateTo('recent-activity')">
        <i class="pi pi-clock"></i> Recent Activity
      </div>
      <div class="menu-item" (click)="navigateTo('help-support')">
        <i class="pi pi-question-circle"></i> Help & Support
      </div>
      <div class="menu-item" (click)="logout()">
        <i class="pi pi-power-off"></i> Logout
      </div>
    </div>
  </p-dialog>
