<nav class="custom-navbar">
  <div class="navbar-left">
    <button class="burger-menu-btn" (click)="toggleBurgerMenu()">
      <i class="pi pi-bars"></i>
    </button>
    <img src="assets/images/Designer.png" alt="logo" class="navbar-logo">
    <span class="navbar-title">FNCS</span>
  </div>

  <div class="navbar-center" [ngClass]="{ 'show-menu': isBurgerMenuOpen }">
    <ul class="nav-menu">
      <li class="nav-item" *ngFor="let item of items">
        <a [routerLink]="item.routerLink" routerLinkActive="active">
          <i [class]="item.icon"></i> {{ item.label }}
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <button class="theme-toggle-btn" (click)="toggleTheme()">
      <i class="pi" [ngClass]="isDarkTheme ? 'pi-sun' : 'pi-moon'"></i>
    </button>
    <div class="profile-menu">
      <button class="profile-btn" (click)="toggleProfileMenu()">
        <i class="fas fa-user"></i> {{ loginUserName }}
      </button>
      <div class="profile-dropdown" *ngIf="showProfilePopup">
        <ul class="profile-menu-list">
          <li class="profile-menu-item" *ngFor="let menuItem of profileMenuItems" (click)="menuItem.action()">
            <i [class]="menuItem.icon"></i> {{ menuItem.label }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
