<div class="notification-container">
  <div class="header">
    <h2>Notifications</h2>
    <p-badge [value]="notifications()?.unreadCount" severity="danger"></p-badge>
  </div>

  <p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let note of notifications()?.notificationList" [selected]="false">
      <ng-template pTemplate="header">
        <div class="tab-header" [class.unread]="!note.is_read">
          <div class="sender-info">
            <span class="name">{{note.first_name}} {{note.last_name}}</span>
            <span class="time">{{note.created_at | timeAgo}}</span>
          </div>
        </div>
        <div class="tab-actions">
          <button *ngIf="!note.is_read" label="" title="Mark as Read" class="btn-mark-read"
            (click)="markAsRead(note.id, $event)">
            <span class="material-icons done-icon">{{'done_all'}}</span>
          </button>
          <button class="btn-delete" title="Delete" (click)="deleteMessage(note.id, $event)">
            <span class="material-icons delete-icon">{{'delete'}}</span>
          </button>
        </div>

      </ng-template>

      <div class="message-body">
        <p><strong>Email:</strong> {{note.email}}</p>
        <hr>
        <p class="content">{{note.message}}</p>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>