.notification-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;

  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &.unread {
      font-weight: bold;
      color: var(--primary-color);
    }

    .sender-info {
      display: flex;
      flex-direction: column;

      .time {
        font-size: 0.8rem;
        color: var(--text-color-secondary);
      }
    }
  }

  .tab-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .done-icon{
      color: var(--success);
    }
    .delete-icon {
      color: var(--error);
    }

    .btn-mark-read, .btn-delete {
      background: none;
      border: none;
      color: var(--error-color);
      cursor: pointer;
      font-size: 0.9rem;
      padding: 0.2rem 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .message-body {
    .content {
      white-space: pre-wrap;
      line-height: 1.5;
      color: var(--text-color);
    }
  }
}