<!-- task-list.component.html -->
<div class="container mt-4">
    <h2>Task List</h2>
    <div class="row">
      <div class="col-md-8">
        <p-orderList [value]="taskList" [dragdrop]="true" controlsPosition="right" [(selection)]="selectedTask" [stripedRows]="true" 
          (onSelectionChange)="selectTask($event.value[0])">
          <ng-template let-tasks pTemplate="item">
              <div class="flex flex-row justify-content-between flex-wrap">
                  <div class="flex align-items-center justify-content-center">
                   
                    
                  <div class="flex flex-column">
                    <div class="flex">
                       {{tasks.title}}
                    </div>
                    <div class="flex">
                     {{tasks.completed == true? 'Complete':'Inprogress'}}
                   </div>
                    
                  </div>
                  </div>
                  <div class="flex align-items-center">
                    <button class="btn btn-success mr-2" (click)="completeTask(tasks)">Complete</button>
                    <button class="btn btn-warning mr-2" (click)="editTask(tasks)">Edit</button>
                    <button class="btn btn-primary mr-2" (click)="startTask(tasks)">Start</button>
                    <button class="btn btn-info mr-2" (click)="holdTask(tasks)">On Hold</button>
                    <button class="btn btn-danger" (click)="deleteTask(tasks)">Delete</button>
                  </div>
              </div>
          </ng-template>
        </p-orderList>
      </div>
      <div class="col-md-4" *ngIf="taskName">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
          </ng-template>
          <p>
            {{taskDetails}}
          </p>
          <ng-template pTemplate="footer">
              <p-button label="Save" icon="pi pi-check"></p-button>
              <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
          </ng-template>
        </p-card>
        <!-- <div class="card">
          <div class="card-header">
            {{taskName}}
          </div>
          <div class="card-body">
            <p class="card-text">{{taskDetails}}</p>
          </div>
        </div> -->
      </div>
    </div>
</div>
  