<div class="container mt-4">
  <h2>Task List</h2>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="task-list-container rounded-2" cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div class="p-3" *ngFor="let tasks of taskList" cdkDrag>
          <div class="flex flex-row justify-content-between flex-wrap">
            <div class="flex align-items-center justify-content-center">
              <div class="flex flex-column">
                <div class="flex flex-row gap-3">
                  <label for="" *ngIf="!tasks.titleEdit">{{ tasks.title }}</label>
                  <input *ngIf="tasks.titleEdit" type="text" placeholder="Normal" pInputText [(ngModel)]="tasks.title"/>
                  <button class="btn btn-outline-secondary btn-sm border-none" (click)="editTaskName(tasks.id, tasks.titleEdit, tasks.title)">
                    <i class="pi" [ngClass]="{'pi-pencil': !tasks.titleEdit, 'pi-save': tasks.titleEdit}"></i>
                  </button>
                </div>
                <div class="flex">
                  {{ 
                  tasks.completed ? 'Complete' : 
                    tasks.onhold ? 'On hold':
                      tasks.inpregress ? 'In progress' : 
                        tasks.delete ? 'Delete': 'New'
                  }}
                </div>
              </div>
            </div>
            <div class="flex align-items-center">
              <!-- Status dropdown -->
              <div class="dropdown mr-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="statusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ 
                    tasks.completed ? 'Complete' :
                      tasks.onhold ? 'On hold':
                        tasks.inpregress ? 'In progress' :
                          tasks.delete ? 'Delete': 'New'
                  }}
                </button>
                <div class="dropdown-menu" aria-labelledby="statusDropdown">
                  <button class="dropdown-item" (click)="changeTaskStatus(tasks.id, true, 'new')">New</button>
                  <button class="dropdown-item" (click)="changeTaskStatus(tasks.id, true, 'completed')">Completed</button>
                  <button class="dropdown-item" (click)="changeTaskStatus(tasks.id, true, 'onhold')">On Hold</button>
                  <button class="dropdown-item" (click)="changeTaskStatus(tasks.id, true, 'inpregress')">In Progress</button>
                  <button class="dropdown-item" (click)="changeTaskStatus(tasks.id, true, 'delete')">Delete</button>
                </div>
              </div>
              <!-- View button -->
              <button class="btn btn-success mr-2" (click)="completeTask(tasks)" pTooltip="View">
                <i class="pi pi-eye"></i>
              </button>
              <!-- Edit button -->
              <!-- <button class="btn btn-primary mr-2" (click)="editTask(tasks.id)" pTooltip="Edit">
                <i class="pi pi-pencil"></i>
              </button> -->
              <!-- Delete button -->
              <button class="btn btn-danger" (click)="deleteTask(tasks)" pTooltip="Delete">
                <i class="pi pi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-content-end">
        <button class="btn btn-primary" (click)="addNewTask()"  pTooltip="Add New Task">
          <i class="pi pi-plus"></i>
          Add New Task
        </button>
      </div>  
    </div>
  </div>
</div>
