/* Updated to handle sidebar layout */
.wrapper {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  padding-top: 6rem;
}

/* Sidebar layout adjustments */
.navigation.sidebar + .main-content {
  margin-left: 220px;
  width: calc(100% - 220px);
  transition: margin-left var(--global-transition-speed);
}

.navigation.sidebar.sidebar-collapsed + .main-content {
  margin-left: 70px;
  width: calc(100% - 70px);
}

.navigation.sidebar.sidebar-right + .main-content {
  margin-left: 0;
  margin-right: 220px;
}

.navigation.sidebar.sidebar-right.sidebar-collapsed + .main-content {
  margin-right: 70px;
}

/* Navbar layout adjustments */
.navigation.navbar + .main-content {
  margin-left: 0;
  width: 100%;
}

/* Mobile adjustments */
@media (max-width: 900px) {
  .navigation.sidebar + .main-content,
  .navigation.sidebar.sidebar-collapsed + .main-content,
  .navigation.sidebar.sidebar-right + .main-content,
  .navigation.sidebar.sidebar-right.sidebar-collapsed + .main-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  
  .main-content {
    padding-top: 95px; /* Space for mobile topbar */
  }
}

.main-content {
  flex: 1;
  transition: margin var(--global-transition-speed);
}

/* For left sidebar */
.sidebar-container {
  left: 0;
}
.wrapper .main-content {
  margin-left: 220px; /* match sidebar width */
  transition: margin-left 0.3s;
}

/* For right sidebar */
.sidebar-container.sidebar-right {
  left: auto;
  right: 0;
}
.wrapper .main-content.sidebar-right {
  margin-left: 0;
  margin-right: 220px;
}

/* Collapsed sidebar */
.sidebar-container.collapsed {
  width: 70px;
}
.wrapper .main-content.sidebar-collapsed {
  margin-left: 70px;
}


@media (max-width: 900px) {
  .sidebar-container {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 2000;
    height: 100vh;
    /* Optionally add a background overlay */
  }
  .wrapper .main-content {
    margin: 0 !important;
  }
}